body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: #91B7D9;
    box-shadow: 10px 5px 10px #adadad;
}
.container-fluid{
    background-color: #194973;
}
.navbar{
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    --bs-navbar-color: #f4f3f7;
    --bs-navbar-active-color: #91B7D9;
    --bs-navbar-hover-color: #F2D8A7;
}
h1{
    color: #f4f3f7;
}

h4{
    color: #f4f3f7;
}

.navbar-brand{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 10rem;
}
.navbar-nav{
    text-align: right;
    font-size: large;
    
}
.navbar-collapse{
    align-items: center;
    justify-content: space-around;
}

.portada{
    background-image: url(./Imagenes/portada2.jpg);
    background-size: cover;
}

h2{
    text-align: center;
}

a{
    color: #194973;
    text-decoration: none;
}
a:hover{
    color: #4B7BA6;
}
.card-body{
    background-color: #F2D8A7;
}
.card{
    --bs-card-border-radius: 1rem;
    --bs-card-box-shadow: 5px #B6DBF2;
}
.row{
    margin: 2rem;
}